<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565612190758-r2j6qimooslmuvuvpokt2944t1rmj941.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565612190758-r2j6qimooslmuvuvpokt2944t1rmj941</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>565612190758-cd95dd21ameqhiddlgctg67l68dvg8ed.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBaHVDhVKsT30RyXjTvCe5miCfpwbfPO8</string>
	<key>GCM_SENDER_ID</key>
	<string>565612190758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flauntEcommenrce</string>
	<key>PROJECT_ID</key>
	<string>flaunt-e9ed3</string>
	<key>STORAGE_BUCKET</key>
	<string>flaunt-e9ed3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565612190758:ios:7e81b64b82528d9dba1ae7</string>
</dict>
</plist>